{{!-- Pull single card start --}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID:</strong>: {{medsightdata.id}}</p>
          <p>
          <p>
            <strong>Dairy:</strong>: {{medsightdata.AllergyTriggerDairy}}</p>
          <p>
          <p>
            <strong>Egg:</strong>: {{medsightdata.AllergyTriggerEggs}}</p>
          <p>
          <p>
            <strong>Fish:</strong>: {{medsightdata.AllergyTriggerFish}}</p>
          <p>
          <p>
            <strong>Soy:</strong>: {{medsightdata.AllergyTriggerSoy}}</p>
          <p>
          <p>
            <strong>Sweets:</strong>: {{medsightdata.AllergyTriggerSweets}}</p>
          <p>
          <p>
            <strong>Nuts:</strong>: {{medsightdata.AllergyTriggerNuts}}</p>
          <p>
          <p>
            <strong>Wheat:</strong>: {{medsightdata.AllergyTriggerWheat}}</p>
          <p>
          <p>
            <strong>Muscular:</strong>: {{medsightdata.PainLocationMuscular}}</p>
          <p>
          <p>
            <strong>Skeletal:</strong>: {{medsightdata.PainLocationSkeletal}}</p>
          <p>
          <p>
            <strong>Skin:</strong>: {{medsightdata.PainLocationEpidermis}}</p>
          <p>
          <p>
            <strong>Stress Level:</strong>: {{medsightdata.SliderStressSlider}}</p>
          <p>
          <p>
            <strong>Symtom Level:</strong> {{medsightdata.SymptomIntensitySlider}}</p>
          <p>
          <p>
            <strong>Location:</strong> {{medsightdata.AutoLocation}}</p>
          <p>
          <p>
            <strong>Humidity:</strong> {{medsightdata.Humidity}}</p>
          <p>
          <p>
            <strong>Pollen:</strong> {{medsightdata.Pollen}}</p>
          <p>
          <p>
            <strong>Pollution:</strong> {{medsightdata.Pollution}}</p>
          <p>
          <p>
            <strong>Notes:</strong> {{medsightdata.Notes}}</p>
          <p>
          <p>
            <strong>TimeStamp:</strong> {{medsightdata.TimeStamp}}</p>             <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Pull single card end --}}