<div class="col-sm-4" id="cardBlocks">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>ID:</strong>{{id}}</h5>
    <p class="card-text">
          <p>
            <strong>Dairy:</strong> {{AllergyTriggerDairy}}
            <strong>Egg:</strong> {{AllergyTriggerEggs}}
            <strong>Fish:</strong> {{AllergyTriggerFish}}
            <strong>Soy:</strong> {{AllergyTriggerSoy}}
            <strong>Sweets:</strong> {{AllergyTriggerSweets}}
            <strong>Nuts:</strong> {{AllergyTriggerNuts}}
            <strong>Wheat:</strong> {{AllergyTriggerWheat}}
          </p>
          <p>
            <strong>Muscular:</strong> {{PainLocationMuscular}}
            <strong>Skeletal:</strong> {{PainLocationSkeletal}}
            <strong>Skin:</strong> {{PainLocationEpidermis}}
          </p>
          <p>
            <strong>Stress Level:</strong> {{SliderStressSlider}}
            <strong>Symtom Level:</strong> {{SymptomIntensitySlider}}
          </p>
          <p>
            <strong>Location:</strong> {{AutoLocation}}
            <strong>TimeStamp:</strong> {{TimeStamp}}
          </p>
          <p>
            <strong>Humidity:</strong> {{Humidity}}
            <strong>Pollen:</strong> {{Pollen}}
            <strong>Pollution:</strong> {{Pollution}}
          </p>
          <p>
            <strong>Notes:</strong> {{Notes}}
          </p>
    </p>
    <a href="/cards/{{id}}" class="btn btn-primary">Edit</a>
  </div>
</div>
</div>