  {{!-- Populate card blocks start --}}
          <p>
            <strong>ID:</strong>: {{id}}
          </p>
          <p>
          <p>
            <strong>Dairy:</strong>: {{AllergyTriggerDairy}}</p>
          <p>
          <p>
            <strong>Egg:</strong>: {{AllergyTriggerEggs}}</p>
          <p>
          <p>
            <strong>Fish:</strong>: {{AllergyTriggerFish}}</p>
          <p>
          <p>
            <strong>Soy:</strong>: {{AllergyTriggerSoy}}</p>
          <p>
          <p>
            <strong>Sweets:</strong>: {{AllergyTriggerSweets}}</p>
          <p>
          <p>
            <strong>Nuts:</strong>: {{AllergyTriggerNuts}}</p>
          <p>
          <p>
            <strong>Wheat:</strong>: {{AllergyTriggerWheat}}</p>
          <p>
          <p>
            <strong>Muscular:</strong>: {{PainLocationMuscular}}</p>
          <p>
          <p>
            <strong>Skeletal:</strong>: {{PainLocationSkeletal}}</p>
          <p>
          <p>
            <strong>Skin:</strong>: {{PainLocationEpidermis}}</p>
          <p>
          <p>
            <strong>Stress Level:</strong>: {{SliderStressSlider}}</p>
          <p>
          <p>
            <strong>Symtom Level:</strong> {{SymptomIntensitySlider}}</p>
          <p>
          <p>
            <strong>Location:</strong> {{AutoLocation}}</p>
          <p>
          <p>
            <strong>Humidity:</strong> {{Humidity}}</p>
          <p>
          <p>
            <strong>Pollen:</strong> {{Pollen}}</p>
          <p>
          <p>
            <strong>Pollution:</strong> {{Pollution}}</p>
          <p>
          <p>
            <strong>Notes:</strong> {{Notes}}</p>
          <p>
          <p>
            <strong>TimeStamp:</strong> {{TimeStamp}}</p>   
          <hr>
  {{!-- Populate card blocks start --}}
          